
@model DemoCCM.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    
}
@Styles.Render("~/Content/style.css")
     

    <h>Đăng nhập</h>
   
           
            @using (Html.BeginForm("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl},FormMethod.Post))
            {
                 @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true)
                <p>
                    @Html.LabelFor(m => m.UserName) 
                    @Html.TextBoxFor(m=>m.UserName,new {placeholder="Username or Email"})
                    @Html.ValidationMessageFor(m => m.UserName)
                </p>
                <p>
                    @Html.LabelFor(m => m.Pass)
                    @Html.PasswordFor(m => m.Pass, new {placeholder="Password"})
                    @Html.ValidationMessageFor(m => m.Pass)
                </p>
                 <p class="submit">
                    <input type="submit" name="commit" value="Đăng nhập">
                </p>
                @*
                <p class="remember_me">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </p>*@
                <div class="login-help">
            <p>Quên mật khẩu? <a href="index.html">Bấm vào đây</a>.</p>
        </div>
            }
 


        @*  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
       </script>
       <script>
           $(".login").hide()
           $(".idLogin h1").click(function () {
               $(".login").toggle();
           });
      </Script>  *@
  


 

