<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css", "~/Content/style.css")
    @Scripts.Render("~/Scripts/js")
    
</head>
<body>
  <div id="main">
    <header> 
    @*          @{Html.RenderAction("Login", "Account", new { ReturnUrl = @Request.Url.AbsoluteUri });}
              @{Html.RenderAction("Register", "Account", new { ReturnUrl = @Request.Url.AbsoluteUri });}*@
                <div id="login-register">
                @Html.ActionLink("Login", "Login", "Account")
                @Html.ActionLink("Register", "Register", "Account")
                    </div>
      <div id="logo">
        <div id="logo_text" style="float: left;">
          <img src="~/photos/logocc.png" alt="Concept Map">
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
          
 
                  <li>@Html.ActionLink("Home", "Index", "TrangChu")</li>
                  <li>@Html.ActionLink("Giới Thiệu", "Index", "TrangChu")</li>
                  <li>@Html.ActionLink("Liên Hệ", "Index", "TrangChu")</li>
                  <li>@Html.ActionLink("Diễn Đàn", "Index", "TrangChu")</li>
                  <li>@Html.ActionLink("Học Online", "Index", "TrangChu")</li>
             
           
            
            
          </ul>
  
        </div>

      </nav>
     
    </header>
    <div id="main_content">
     
        @{Html.RenderAction("_TrinhDoPartial", "TrangChu");}
    	@RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</div>
     

 <div id="site_content">
    

</div>
   <div class="right_content">
       

    </div>
</div>
	<footer>
      <p>@Html.ActionLink("Home", "Index", "TrangChu") | <a href="#"> About </a>|<a href="#"> Contact Us </a></p>
      <p>Copyright © MrWind | <a href="#">follow me: Https://facebook.com/example.</a></p>
    </footer>
    <script>
        $(document).ready(function () {
            $('ul.nav_left li a').hover(function () {
                $(this).addClass("highlight");
            }, function () {
                $(this).removeClass("highlight");
            });
            $('ul.nav_left li a').click(function () {
                $(".highlight_stay").removeClass('highlight_stay');
                $(this).addClass("highlight_stay");
            });
        });
  </script>

</body>
</html>
