<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js_style.js")
</head>
<body>
    <div class="main_container">
      <header>
        <div class="top_bar">
            <div class="top_login">
                <div class="text">User</div>
                <input type="text" class="class_input" name="user" />
                <div class="text">Password</div>
                <input type="password" class="class_input" name="pwd" />
                <input type="submit" class="btnsubmit" value="Login" />
            </div>
        </div> 
        <div id="header">
            <div id="logo">

            </div>
        </div>
        <div class="main_container">
            <nav class="menu_tab">
                <ul class="menu">
                         <li class="divider"></li>          
                         <li class="img_nav">@Html.ActionLink("Home","Index","TrangChu")</li>
                         <li class="divider"></li>
                         <li class="no_img_nav"> @Html.ActionLink("Giới Thiệu","Index","TrangChu")</li>
                         <li class="divider"></li>
                         <li class="no_img_nav">@Html.ActionLink("Liên Hệ","Index","TrangChu")</li>
                         <li class="divider"></li>
                         <li class="no_img_nav">@Html.ActionLink("Diễn Đàn","Index","TrangChu")</li>
                         <li class="divider"></li>
                         <li class="no_img_nav">@Html.ActionLink("Học Online","Index","TrangChu")</li>
                         <li class="divider"></li>                         
                 </ul>
            </nav>
        </div>  
     </header>
        @{Html.RenderAction("_TrinhDoPartial", "TrangChu");}
        @RenderBody()
   <footer>

   </footer>
</div>
    
</body>
</html>
