
@model IEnumerable<DemoCCM.Models.Link> 
@Scripts.Render("~/Scripts/js_style.js")

     
<div> 
 <ul>
    @foreach (var item in Model)
     {
        <li>@item.Text @item.LinkID @item.ConceptID1 @item.ConceptID2</li>
      }
  </ul>
    </div>
               
               
    

 